.btn {
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    border-color: #ccc;
  
}

.btn-country {
    
    height:42px;
    border-radius: 4px;
    background-color: #0033cc;
    color: #fff;
    text-align: center;
    line-height: 2;
}

.btn-country-add {
    
    
    border-radius: 4px;
    background-color: #0033cc;
    color: #fff;
    text-align: center;
    
    width:105px;
    height:36px;
}


.btn-country:hover {
  background-color: #315bd6;
  color: #fff
}
.row-bkg-grey{
    background-color: #f7f7f7;
}

.row-bkg-blue{
    background-color: #e0e6f9;
}
.label{
    font-weight: 700  !important;
}
.labelCountry{
        color: #707070 !important;
    font-family: "Helvetica";
    font-weight: bold  !important;
    
    align-items: center; /* Vertical center alignment */
    justify-content: center; 
    padding-top: 5px;
}

.tableContent{
    padding-left:4%;
    min-width: 80px;
}