

<div class="container">

 <!-- items being paged -->
            <div *ngFor="let item of gatewayNumbers.source">{{item.gatewayAddress}}</div>
 
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>

<!--Actual Contents rows-->
<div class="row">
<table class="table table-striped table-condensed ">
        <thead class="row-bkg-blue">
        <tr>
            <th class="tableContent">Gateway Address</th>
            <th class="tableContent">Routing Key</th>
			<th class="tableContent">Status</th>
            <th class="tableContent">Action</th>			      
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let item of gatewayNumbers.source">
          

        	<td class="tableContent">{{ item.gatewayAddress }}</td>
            <td class="tableContent">
                 <input type="textbox" class="form-control" name="routingKey" [(ngModel)]="item.routingKey" >
            </td>
            <td class="tableContent"> 
                
                <input type="checkbox" [(ngModel)]="item.isEnabled" (ngModelChange)="updateGateWay($event)" name="status"  
                        [checked]="item.isEnabled == true">

                </td>            
            
            <td class="tableContent"><a (click)="deleteGateWay(item.gatewayNumbersId,page)" class="btn-cancel btn">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="country">
<div class="row">
  <form class="form-inline" #smscForm="ngForm" >
    <div class="form-group col-xs-3 tableContent" >
            <div >
                <input  name="prefix"  class="form-control" [(ngModel)]="smscForm.prefix" placeholder="Prefix"/>
            </div>
        </div>
        <div class="form-group col-xs-3 ">
            <div >
              <select  [(ngModel)]="smscForm.priority" name="priority" class="form-control">
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="3">3</option>  
              </select>
            </div>
        </div>
        <div class="form-group  col-xs-3">
            <div >
                <!--<input type="text" name="smscName" class="form-control" [(ngModel)]="country" placeholder="Name"/>-->
                <select [(ngModel)]="smscForm.smscId" name="smscName" class="form-control">
                    <option *ngFor="let item of smscProviderList" [ngValue]="item.smscId" >{{ item.name }}</option>              
                </select>               

            </div>
        </div>
        
        <!--<div>
            <input type="hidden" hidden name="smscDetailsId" class="form-control" [(ngModel)]="smsc.smscId" placeholder="smscDetailsId"> 
        </div>-->
        
        <div class="form-group col-xs-6" style="margin:1%">
            <div class="controls">
                <a (click)="addSmscMapping(smscForm,selectedValue)" class="btn-country-add btn" >Add</a>
               
            </div>
        </div>
        <!--</div>-->
    </form>

    

</div>
</div>

</div>
