ul.nav li a, ul.nav li a:visited {
    color: #707070 !important;
    font-family: "Helvetica";
    font-weight: bold;
}

ul.nav li a:hover, ul.nav li a:active {
    color: black !important;
}

ul.nav li a.active {
    color: #0033cc !important;
    border-bottom: 3px solid #0033cc;
}

label {
    font-weight: 400;
}