<nav class="navbar navbar-default">
  <div class="container-fluid row">
    <div class="navbar-header col-xs-1">  
    </div>
    <div class="navbar-header col-xs-10">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav col-xs-10 ">
          <a class="navbar-brand col-xs-2" href="#">
            <img src="./assets/images/messagehub.svg" style="width:120px">
          </a>
          
            <li class="col-xs-2">
              
            <a routerLink="/logout" routerLinkActive="active" class="btn-switch-module-default">
              <span class="glyphicon glyphicon-menu-left glyphi-contents"> Home Page</span> 
            </a>
            </li>
             <li class="col-xs-1">
             </li>
            <li class="col-xs-1.5"><a routerLink="/users-list" routerLinkActive="active">Users List</a></li>
            <li class="col-xs-1.5"><a routerLink="/user-creation" routerLinkActive="active">Create User</a></li>
            <li class="col-xs-2"><a routerLink="/user-logs" routerLinkActive="active">User Activity Logs</a></li>
           
        </ul>
         
                <p class="navbar-btn">
                    <a  routerLink="/logout" routerLinkActive="active" class="btn btn-default">Log Out</a>
                </p>
            
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
  
 

	<!--<a href="/welcome" class="btn btn-primary" >Home Page</a>
	
    <a href="/users-list" class="btn btn-primary">Users List</a>
    <a href="/user-creation" class="btn btn-primary">Create New User</a>
    <a href="/user-logs" class="btn btn-primary">Users Activity Logs</a>
    <a href="/users/logout" class="btn btn-primary">Logout</a>-->

      <!-- routing here -->
  <router-outlet></router-outlet>
 </div>
</div>


