

<div class="container">

<div class="row">
  <form class="form-inline" #kannelForm="ngForm" >
    <div class="form-group col-xs-3 tableContent" >
            <div >
                <!--<input  name="prefix"  class="form-control" [(ngModel)]="kannelForm.gatewayAddress" placeholder="Gateway Address"/>-->
            </div>
        </div>
        <div class="form-group col-xs-3 ">
            <div style="padding-left:54px">
              <a (click)="addNewKannel()" class="btn-country-add btn" >Add Kannel</a>
              <p></p>

            </div>
        </div>
        <div class="form-group  col-xs-3">
            <div >
                <a (click)="addNewBind()" class="btn-country-add btn" >Add Bind</a>
            </div>
        </div>
        
    </form>

    

</div>


<section *ngIf="alertDisplayed">
    <div class="alert alert-info">
    <strong>Info!</strong> {{resStatusMsg}}
  </div>
</section>


<!--Actual Contents rows-->
<div class="row">
<table class="table table-striped table-condensed ">
        <thead class="row-bkg-blue">
        <tr>
            <th class="tableContent">Kannel Server</th>
            <th class="tableContent">URL</th>
			
            <th class="tableContent">Action</th>			      
            <th class="tableContent">View All Binds</th>
            <!--<th class="tableContent">Action</th>			      -->
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let item of kannelList">
          

        	<td class="tableContent">{{ item.server }}</td>
            <td class="tableContent">{{ item.kannelUrl }}</td>
                 <!--<input type="textbox" class="form-control" name="kannelUrl" [(ngModel)]="item.kannelUrl" >-->
            
                      
            <td class="tableContent"><a (click)="updateKannel(item.kannelSettingsId)" class="btn-cancel btn">Update</a></td>
            <td class="tableContent"><a (click)="viewAllBinds(item.kannelSettingsId)" class="btn-cancel btn">View Binds</a></td>
            <!--<td class="tableContent"><a (click)="deleteGateWay(item.gatewayNumbersId)" class="btn-cancel btn">Delete</a></td>-->
        </tr>
        
        </tbody>
        
    </table>
    
</div>

</div>